In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import json

1. load data and skip first 4 rows of electricty files to get only headers and data
- load states_hash file to have an easy state abbreviation format to use
https://gist.github.com/mshafrir/2646763#file-states_hash-json

In [3]:

dir = "/content/drive/MyDrive/DS4A Team 14 - Fall 2022/DATA CURATION/Data Source Copies/EIA Electricity Data Browser/data"

with open(dir + '/states_hash.json') as s:
    states_dict = json.load(s)

df_net_gen_solar = pd.read_csv(dir + '/Net_generation_for_all_utility-scale_solar.csv', skiprows=4)
df_net_gen_coal = pd.read_csv(dir + '/Net_generation_for_coal.csv', skiprows=4)
df_net_gen_gas = pd.read_csv(dir + '/Net_generation_for_natural_gas.csv', skiprows=4)
df_cons_coal = pd.read_csv(dir + '/Consumption_for_electricity_generation_for_coal.csv', skiprows=4)
df_cons_gas = pd.read_csv(dir + '/Consumption_for_electricity_generation_for_natural_gas.csv', skiprows=4)
df_avg_cost_coal = pd.read_csv(dir + '/Average_cost_of_fossil_fuels_for_electricity_generation_(per_Btu)_for_coal.csv', skiprows=4)
df_avg_cost_gas = pd.read_csv(dir + '/Average_cost_of_fossil_fuels_for_electricity_generation_(per_Btu)_for_natural_gas.csv', skiprows=4)

In [4]:
df_net_gen_solar

,description,units,source key,Jan 2001,Feb 2001,Mar 2001,Apr 2001,May 2001,Jun 2001,Jul 2001,...,Dec 2021,Jan 2022,Feb 2022,Mar 2022,Apr 2022,May 2022,Jun 2022,Jul 2022,Aug 2022,Sep 2022
0,Net generation for all utility-scale solar,thousand megawatthours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,United States,thousand megawatthours,ELEC.GEN.SUN-US-99.M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,United States : all sectors,thousand megawatthours,ELEC.GEN.SUN-US-99.M,7,13,31,39,81,91,92,...,6091,8158,9312,11868,13438,15161,15953,15686,14375,13405
3,United States : electric power,NaN,ELEC.GEN.SUN-US-98.M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,United States : electric utility,thousand megawatthours,ELEC.GEN.SUN-US-1.M,0,0,0,0,0,0,0,...,883,1084,1199,1536,1707,1838,1820,1804,1708,1481
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,Hawaii : electric power,NaN,ELEC.GEN.SUN-HI-98.M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
194,Hawaii : electric utility,thousand megawatthours,ELEC.GEN.SUN-HI-1.M,--,--,--,--,--,--,--,...,5,5,6,7,7,7,9,8,8,8
195,Hawaii : independent power producers,thousand megawatthours,ELEC.GEN.SUN-HI-94.M,--,--,--,--,--,--,--,...,25,31,33,38,39,37,43,43,52,47
196,Hawaii : all commercial,thousand megawatthours,ELEC.GEN.SUN-HI-96.M,--,--,--,--,--,--,--,...,0,NM,NM,NM,NM,NM,NM,NM,NM,NM
197,Hawaii : all industrial,thousand megawatthours,ELEC.GEN.SUN-HI-97.M,--,--,--,--,--,--,--,...,--,--,--,--,--,--,--,--,--,--

2. remove columns: units and source key. 
- Units are constant within each report and source key is not needed
- Electricty generation - thousand megawatthours (1000 MWh)
- Electricty Consumption - thousand Mcf (1000 Mcf or 1 mil cubic feet) for NG, thousand tons for coal
- Average Cost for electricty generation - dollars per million btu ($/MMBTU)

In [5]:
elecfiles = [df_net_gen_solar, df_net_gen_coal, df_net_gen_gas, df_cons_coal, df_cons_gas, df_avg_cost_coal, df_avg_cost_gas]
for file in elecfiles:
    file.drop(columns = ["units", "source key"], inplace=True)

In [6]:
df_net_gen_solar

,description,Jan 2001,Feb 2001,Mar 2001,Apr 2001,May 2001,Jun 2001,Jul 2001,Aug 2001,Sep 2001,...,Dec 2021,Jan 2022,Feb 2022,Mar 2022,Apr 2022,May 2022,Jun 2022,Jul 2022,Aug 2022,Sep 2022
0,Net generation for all utility-scale solar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,United States : all sectors,7,13,31,39,81,91,92,85,65,...,6091,8158,9312,11868,13438,15161,15953,15686,14375,13405
3,United States : electric power,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,United States : electric utility,0,0,0,0,0,0,0,0,0,...,883,1084,1199,1536,1707,1838,1820,1804,1708,1481
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,Hawaii : electric power,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
194,Hawaii : electric utility,--,--,--,--,--,--,--,--,--,...,5,5,6,7,7,7,9,8,8,8
195,Hawaii : independent power producers,--,--,--,--,--,--,--,--,--,...,25,31,33,38,39,37,43,43,52,47
196,Hawaii : all commercial,--,--,--,--,--,--,--,--,--,...,0,NM,NM,NM,NM,NM,NM,NM,NM,NM
197,Hawaii : all industrial,--,--,--,--,--,--,--,--,--,...,--,--,--,--,--,--,--,--,--,--

3. remove rows: 
- United States and Regions (New England, Middle Atlantic, etc.) totals. We are looking at a state by state analysis. Use the states dictionary to search for non state names. Note that not every state will be present
- More header rows for states. No data in these
- Any state's all sectors, industrial, or commercial data. We are only doing an analysis for residential areas, which will be from the electric utility and independent power producer sectors.

Definitions:
- Electric power sector:  An energy-consuming sector that consists of electricity only and combined heat and power(CHP) plants whose primary business is to sell electricity, or electricity and heat, to the public
- Electric utility:  A corporation, person, agency, authority, or other legal entity or instrumentality aligned with distribution facilities for delivery of electric energy for use primarily by the public. Included are investor-owned electric utilities, municipal and State utilities, Federal electric utilities, and rural electric cooperatives. A few entities that are tariff based and corporately aligned with companies that own distribution facilities are also included.
- Independent power producer: A corporation, person, agency, authority, or other legal entity or instrumentality that owns or operates facilities for the generation of electricity for use primarily by the public, and that is not an electric utility.

In [7]:
states = "|".join(states_dict.values())
# for file in elecfiles:
#     file = file[file["description"].str.contains(states)==True]
df_net_gen_solar = df_net_gen_solar[df_net_gen_solar["description"].str.contains(states)==True]
df_net_gen_coal = df_net_gen_coal[df_net_gen_coal["description"].str.contains(states)==True]
df_net_gen_gas = df_net_gen_gas[df_net_gen_gas["description"].str.contains(states)==True]
df_cons_coal = df_cons_coal[df_cons_coal["description"].str.contains(states)==True]
df_cons_gas = df_cons_gas[df_cons_gas["description"].str.contains(states)==True]
df_avg_cost_coal = df_avg_cost_coal[df_avg_cost_coal["description"].str.contains(states)==True]
df_avg_cost_gas = df_avg_cost_gas[df_avg_cost_gas["description"].str.contains(states)==True]

In [8]:
df_net_gen_solar["description"]

15                                   Massachusetts
16                     Massachusetts : all sectors
17                  Massachusetts : electric power
18                Massachusetts : electric utility
19     Massachusetts : independent power producers
                          ...
193                        Hawaii : electric power
194                      Hawaii : electric utility
195           Hawaii : independent power producers
196                        Hawaii : all commercial
197                        Hawaii : all industrial
Name: description, Length: 140, dtype: object

In [9]:
df_net_gen_solar = df_net_gen_solar[df_net_gen_solar["description"].str.contains("power producers|electric utility")==True]
df_net_gen_coal = df_net_gen_coal[df_net_gen_coal["description"].str.contains("power producers|electric utility")==True]
df_net_gen_gas = df_net_gen_gas[df_net_gen_gas["description"].str.contains("power producers|electric utility")==True]
df_cons_coal = df_cons_coal[df_cons_coal["description"].str.contains("power producers|electric utility")==True]
df_cons_gas = df_cons_gas[df_cons_gas["description"].str.contains("power producers|electric utility")==True]
df_avg_cost_coal = df_avg_cost_coal[df_avg_cost_coal["description"].str.contains("power producers|electric utility")==True]
df_avg_cost_gas = df_avg_cost_gas[df_avg_cost_gas["description"].str.contains("power producers|electric utility")==True]

In [10]:
df_net_gen_solar["description"]

18                 Massachusetts : electric utility
19      Massachusetts : independent power producers
25                       Vermont : electric utility
26            Vermont : independent power producers
33                    New Jersey : electric utility
34         New Jersey : independent power producers
40                      New York : electric utility
41           New York : independent power producers
47                  Pennsylvania : electric utility
48       Pennsylvania : independent power producers
61                      Illinois : electric utility
62           Illinois : independent power producers
68                          Ohio : electric utility
69               Ohio : independent power producers
82                      Delaware : electric utility
83           Delaware : independent power producers
89                       Florida : electric utility
90            Florida : independent power producers
96                      Maryland : electric utility
97           Maryland : independent power producers
103               North Carolina : electric utility
104    North Carolina : independent power producers
117                        Texas : electric utility
118             Texas : independent power producers
131                      Arizona : electric utility
132           Arizona : independent power producers
138                     Colorado : electric utility
139          Colorado : independent power producers
145                       Nevada : electric utility
146            Nevada : independent power producers
152                   New Mexico : electric utility
153        New Mexico : independent power producers
166                   California : electric utility
167        California : independent power producers
173                       Oregon : electric utility
174            Oregon : independent power producers
180                   Washington : electric utility
181        Washington : independent power producers
194                       Hawaii : electric utility
195            Hawaii : independent power producers
Name: description, dtype: object

4. Each column represents a Month-Year, which is in a very wide format. Would be better to put them in a single time column. Use pd.melt() to pivot.

In [11]:
df_net_gen_solar = df_net_gen_solar.melt(id_vars="description", var_name="MMYY", value_name="Value")
df_net_gen_coal = df_net_gen_coal.melt(id_vars="description", var_name="MMYY", value_name="Value")
df_net_gen_gas = df_net_gen_gas.melt(id_vars="description", var_name="MMYY", value_name="Value")
df_cons_coal = df_cons_coal.melt(id_vars="description", var_name="MMYY", value_name="Value")
df_cons_gas = df_cons_gas.melt(id_vars="description", var_name="MMYY", value_name="Value")
df_avg_cost_coal = df_avg_cost_coal.melt(id_vars="description", var_name="MMYY", value_name="Value")
df_avg_cost_gas = df_avg_cost_gas.melt(id_vars="description", var_name="MMYY", value_name="Value")

In [12]:
df_net_gen_solar

                                       description      MMYY Value
0                 Massachusetts : electric utility  Jan 2001    --
1      Massachusetts : independent power producers  Jan 2001    --
2                       Vermont : electric utility  Jan 2001    --
3            Vermont : independent power producers  Jan 2001    --
4                    New Jersey : electric utility  Jan 2001    --
...                                            ...       ...   ...
10435         Oregon : independent power producers  Sep 2022   150
10436                Washington : electric utility  Sep 2022    NM
10437     Washington : independent power producers  Sep 2022     5
10438                    Hawaii : electric utility  Sep 2022     8
10439         Hawaii : independent power producers  Sep 2022    47

[10440 rows x 3 columns]

5. Now we can replace some unavailable data. 

"--" means data was not available at the time, and "NM" means Not Meaningful due to large relative standard error. We can't be certain that we can impute zero for these - it could be that the data was not reported or the surveyed values were not consistent and led to high RSE's. We're also using this data for comparitive studies, and removing months may lead to a broken view of a state's time series. So we will impute NaN using the errors="coerce" argument in pd.to_numeric

In [13]:
df_net_gen_solar["Value"]=pd.to_numeric(df_net_gen_solar["Value"], errors='coerce')
df_net_gen_coal["Value"]=pd.to_numeric(df_net_gen_solar["Value"], errors='coerce')
df_net_gen_gas["Value"]=pd.to_numeric(df_net_gen_solar["Value"], errors='coerce')
df_cons_coal["Value"]=pd.to_numeric(df_net_gen_solar["Value"], errors='coerce')
df_cons_gas["Value"]=pd.to_numeric(df_net_gen_solar["Value"], errors='coerce')
df_avg_cost_coal["Value"]=pd.to_numeric(df_net_gen_solar["Value"], errors='coerce')
df_avg_cost_gas["Value"]=pd.to_numeric(df_net_gen_solar["Value"], errors='coerce')

In [14]:
df_net_gen_solar

                                       description      MMYY  Value
0                 Massachusetts : electric utility  Jan 2001    NaN
1      Massachusetts : independent power producers  Jan 2001    NaN
2                       Vermont : electric utility  Jan 2001    NaN
3            Vermont : independent power producers  Jan 2001    NaN
4                    New Jersey : electric utility  Jan 2001    NaN
...                                            ...       ...    ...
10435         Oregon : independent power producers  Sep 2022  150.0
10436                Washington : electric utility  Sep 2022    NaN
10437     Washington : independent power producers  Sep 2022    5.0
10438                    Hawaii : electric utility  Sep 2022    8.0
10439         Hawaii : independent power producers  Sep 2022   47.0

[10440 rows x 3 columns]

6. Split up the description column into "state" and "sector" using .split(:). Then drop description.

In [15]:
df_net_gen_solar[["State","Sector"]] = df_net_gen_solar["description"].str.split(" : ", expand=True)
df_net_gen_solar.drop(columns=["description"], inplace=True)

df_net_gen_coal[["State","Sector"]] = df_net_gen_coal["description"].str.split(" : ", expand=True)
df_net_gen_coal.drop(columns=["description"], inplace=True)

df_net_gen_gas[["State","Sector"]] = df_net_gen_gas["description"].str.split(" : ", expand=True)
df_net_gen_gas.drop(columns=["description"], inplace=True)

df_cons_coal[["State","Sector"]] = df_cons_coal["description"].str.split(" : ", expand=True)
df_cons_coal.drop(columns=["description"], inplace=True)

df_cons_gas[["State","Sector"]] = df_cons_gas["description"].str.split(" : ", expand=True)
df_cons_gas.drop(columns=["description"], inplace=True)

df_avg_cost_coal[["State","Sector"]] = df_avg_cost_coal["description"].str.split(" : ", expand=True)
df_avg_cost_coal.drop(columns=["description"], inplace=True)

df_avg_cost_gas[["State","Sector"]] = df_avg_cost_gas["description"].str.split(" : ", expand=True)
df_avg_cost_gas.drop(columns=["description"], inplace=True)

In [16]:
df_net_gen_solar

           MMYY  Value          State                       Sector
0      Jan 2001    NaN  Massachusetts             electric utility
1      Jan 2001    NaN  Massachusetts  independent power producers
2      Jan 2001    NaN        Vermont             electric utility
3      Jan 2001    NaN        Vermont  independent power producers
4      Jan 2001    NaN     New Jersey             electric utility
...         ...    ...            ...                          ...
10435  Sep 2022  150.0         Oregon  independent power producers
10436  Sep 2022    NaN     Washington             electric utility
10437  Sep 2022    5.0     Washington  independent power producers
10438  Sep 2022    8.0         Hawaii             electric utility
10439  Sep 2022   47.0         Hawaii  independent power producers

[10440 rows x 4 columns]

7. Clean up the other columns and rearrange
- Convert MMYY to datetime
- Rearrange to State, Sector, MMYY, Value

In [17]:
df_net_gen_solar["MMYY"] = pd.to_datetime(df_net_gen_solar["MMYY"], format="%b%Y", errors="ignore")
df_net_gen_solar[["State", "Sector", "MMYY", "Value"]]

df_net_gen_coal["MMYY"] = pd.to_datetime(df_net_gen_solar["MMYY"], format="%b%Y", errors="ignore")
df_net_gen_coal[["State", "Sector", "MMYY", "Value"]]

df_net_gen_gas["MMYY"] = pd.to_datetime(df_net_gen_solar["MMYY"], format="%b%Y", errors="ignore")
df_net_gen_gas[["State", "Sector", "MMYY", "Value"]]

df_cons_coal["MMYY"] = pd.to_datetime(df_net_gen_solar["MMYY"], format="%b%Y", errors="ignore")
df_cons_coal[["State", "Sector", "MMYY", "Value"]]

df_cons_gas["MMYY"] = pd.to_datetime(df_net_gen_solar["MMYY"], format="%b%Y", errors="ignore")
df_cons_gas[["State", "Sector", "MMYY", "Value"]]

df_avg_cost_coal["MMYY"] = pd.to_datetime(df_net_gen_solar["MMYY"], format="%b%Y", errors="ignore")
df_avg_cost_coal[["State", "Sector", "MMYY", "Value"]]

df_avg_cost_gas["MMYY"] = pd.to_datetime(df_net_gen_solar["MMYY"], format="%b%Y", errors="ignore")
df_avg_cost_gas[["State", "Sector", "MMYY", "Value"]]

               State                       Sector      MMYY  Value
0        Connecticut             electric utility  Jan 2001    NaN
1        Connecticut  independent power producers  Jan 2001    NaN
2              Maine             electric utility  Jan 2001    NaN
3              Maine  independent power producers  Jan 2001    NaN
4      Massachusetts             electric utility  Jan 2001    NaN
...              ...                          ...       ...    ...
18049     Washington  independent power producers       NaN    NaN
18050         Alaska             electric utility       NaN    NaN
18051         Alaska  independent power producers       NaN    NaN
18052         Hawaii             electric utility       NaN    NaN
18053         Hawaii  independent power producers       NaN    NaN

[18054 rows x 4 columns]

In [18]:
df_net_gen_solar

           MMYY  Value          State                       Sector
0      Jan 2001    NaN  Massachusetts             electric utility
1      Jan 2001    NaN  Massachusetts  independent power producers
2      Jan 2001    NaN        Vermont             electric utility
3      Jan 2001    NaN        Vermont  independent power producers
4      Jan 2001    NaN     New Jersey             electric utility
...         ...    ...            ...                          ...
10435  Sep 2022  150.0         Oregon  independent power producers
10436  Sep 2022    NaN     Washington             electric utility
10437  Sep 2022    5.0     Washington  independent power producers
10438  Sep 2022    8.0         Hawaii             electric utility
10439  Sep 2022   47.0         Hawaii  independent power producers

[10440 rows x 4 columns]

In [19]:
# df_net_gen_solar.to_csv(dir + '/Net_generation_for_all_utility-scale_solar_cleaned.csv')
# df_net_gen_coal.to_csv(dir + '/Net_generation_for_coal_cleaned.csv')
# df_net_gen_gas.to_csv(dir + '/Net_generation_for_natural_gas_cleaned.csv')
# df_cons_coal.to_csv(dir + '/Consumption_for_electricity_generation_for_coal_cleaned.csv')
# df_cons_gas.to_csv(dir + '/Consumption_for_electricity_generation_for_natural_gas_cleaned.csv')
# df_avg_cost_coal.to_csv(dir + '/Average_cost_of_fossil_fuels_for_electricity_generation_(per_Btu)_for_coal_cleaned.csv')
# df_avg_cost_gas.to_csv(dir + '/Average_cost_of_fossil_fuels_for_electricity_generation_(per_Btu)_for_natural_ga_cleaneds.csv')